#modal_dialog {
    width: 600px;
    min-height: 100px;
    padding: 1em;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0, 0, 0 / .3);
}
#modal_dialog::backdrop {
    background-color: darkslategray;
    opacity: .3;
}